<div class="profile_search">
    <div class="container wrap_1">
        <div class="search_top">
            <form method="post" action="../users/search">
                <div class="inline-block">
                    <label class="gender_1">I am looking for :</label>
                    <div class="form-group">
                        <select id="edit-name" name="gender" value=""  class="form-control required" required="true">
                            <option value="">Select from below</option>
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                    </div>
                </div>
                <div class="inline-block">
                    <label class="gender_1">Age :</label>
                    <div class="form-group">
                        <input class="transparent" id ="age" name="age" placeholder = "From:" style="width: 34%;" type="text" required="true">&nbsp;-&nbsp;<input id="age1" name="age1"class="transparent" placeholder="To:" style="width: 34%;" type="text" required="true">
                    </div>
                </div>
                <div class="inline-block">
                    <label class="gender_1">Marrital_status</label>
                    <div class="form-group">
                        <select id="edit-name" name="status" value=""  class="form-control required" required="true">
                            <option value="">* Select Status</option>
                            <option value="Never Married">Never Married</option>
                            <option value="Married">Married</option>
                            <option value="Divorcy">Divorcy</option>
                        </select>
                    </div>
                </div>
                <!--            <div class="inline-block">
                                <label class="gender_1">I am looking for :</label>
                                <div class="age_box1" style="max-width: 100%; display: inline-block;">
                                    <select id="select" required="true">
                                        <option value="">* --- Select---</option>
                                        <option value="bride">bride</option>
                                        <option value="groom">groom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="inline-block">
                                <div class="age_box2" style="max-width: 220px;">
                                    <label class="gender_1">Age :</label>
                                    <input class="transparent" id ="age" placeholder = "From:" style="width: 34%;" type="text">&nbsp;-&nbsp;<input id="age1"class="transparent" placeholder="To:" style="width: 34%;" type="text">
                                </div>
                            </div>
                            <div class="inline-block">
                                <label class="gender_1">Status :</label>
                                <div class="age_box1" style="max-width: 100%; display: inline-block;">
                                    <select id="select1"  value="">
                                        <option value="">* Select Status</option>
                                        <option value="Never Married">Never Married</option>
                                        <option value="Married">Married</option>
                                        <option value="Divorcy">Divorcy</option>
                                    </select>
                                </div>
                            </div><br><br>
                -->
                <button type="submit" id="btnsubmit" class="btn btn-success uppercase pull-right" style="margin-top: 85px; background-color: #C32143">find Profile</button>

            </form>
        </div>
    </div>
</div>

<script>
//    $('document').ready(function () {
//        $('#submit-btn').on('click', function () {
//            var gender = $('#select').val();
//            var age = $('#age').val();
//            var age1 = $('#age1').val();
//            var aged = [age, age1].join(" to ");
//            var status = $('#select1').val();
//            var data = {gender: gender, aged: aged, status: status};
//            console.log(data);
//            $.ajax({
//                method: "POST",
//                url: "../users/search",
//                data: data,
//                datatype: 'JSON',
//                success: function () {
//                }
//
//
//            });
//
//        });
//    });

</script>

