.tab-pane h3 {
    color: #C32143;
    clear: both;
    padding-top:20px;
}
.profile_search {
    text-align: center;
    background-color: rgb(195, 33, 67);
    padding: 2em;
    margin: 0; 
}
.input-group input[type="text"], select {
    padding: 8px;
}
input.transparent {
    padding: 8px;
}
.banner_info h4 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin-bottom: 60px;
}
.religion {
    margin: 1em 0;
	text-align:center
}
.navbar-inverse-blue .navbar-inner {
    position: fixed;
    width: 100%;
    z-index: 999;
}
.nav-tabs {
	margin-bottom: 30px;
	border-bottom: 3px solid #c32143;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    background: #777;
	color:#fff;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li>a:hover, .nav>li>a:focus {
    background-color:#a51b38 !important;
    border-color: #a51b38;
    color: #fff !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li:hover>a {
    color: #fff;
    background-color: #a51b38;
    border: 1px solid #a51b38;
    border-bottom-color: transparent;
    cursor: default;
}
.actionBar {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 10px 5px;
    text-align: right;
    margin-top: 10px;
}
@media (max-width: 768px){
	
.navbar-inverse-blue .navbar-inner {
    position: relative;
    width: 100%;
    z-index: 999;
}
}
#errorBox{
 color: red;
 border: 1px solid;
 }
 .form-required{
    color: red;
 }